/* FOOTER styles */
@import "../general/social"

.footer
  &__inner
    +adaptiv-value-mob("padding-top", 15)
    +adaptiv-value-mob("padding-bottom", 25)

  .logo
    +adaptiv-value-mob("width", 45)
    +adaptiv-value-mob("height", 45)
    +adaptiv-value-mob("min-width", 45)
    +adaptiv-value-mob("min-height", 45)
    +adaptiv-value-mob("margin-right", 35)

  .menu
    display: flex
    flex-direction: column
    justify-content: space-between
  .menu-item
    font-size: inherit
    color: #909090
  .social-menu
    margin-left: auto
    align-items: center
  .social-menu-link
    display: inline-block
    +adaptiv-value-mob("min-width", 24)
    +adaptiv-value-mob("width", 24)
    +adaptiv-value-mob("min-height", 24)
    +adaptiv-value-mob("height", 24)

  .social-menu li
    +adaptiv-value-mob("margin-right", 35)

  .copyright
    display: flex
    justify-content: center
    +adaptiv-value-mob("margin-bottom", 33)


.footer__btm
  display: flex
  //justify-content: space-between

  @import "footer_desc"

/* FOOTER styles end*/