.banner
  //min-height: 472px
  +adaptiv-value('min-height', 472, 264)
  +adaptiv-value('margin-bottom', 130, 20)
  background:
    color: var(--bgcolor)
    image: url("../images/content/banner.jpg")
    size: cover
    repeat: no-repeat
    position: center

  .banner-in
    display: inline-block
    width: 100%
    //margin-top: 70px
    +adaptiv-value('margin-top', 70, 30)
    +adaptiv-value('margin-bottom', 70, 30)

  .breadcrumbs
    color: $lightgrey
    font-family: $InterRegular
    +adaptiv-value('font-size', 25, 17)
    //margin-bottom: 55px
    +adaptiv-value('margin-bottom', 57, 51)
    span
      color: $white

  .title
    +adaptiv-value('font-size', 100, 67)
    font-family: $InterExtraBold
    +adaptiv-value('margin-bottom', 81, 14)
    color: $white
    .text-grey
      color: $lightgrey

  .menu
    display: none
    +tablet
      display: flex
      list-style: none
      align-items: center
      justify-content: space-between
      +adaptiv-value('font-size', 37, 20)
      //font-size: 37px
      +adaptiv-value('padding-top', 25, 10)
      +adaptiv-value('padding-right', 100, 50)
      +adaptiv-value('padding-bottom', 37, 10)
      +adaptiv-value('padding-left', 106, 50)
      //padding: 25px 100px 37px 106px
      -webkit-box-shadow: 0px 0px 50px 36px rgba(0,0,0,0.27)
      box-shadow: 0px 0px 50px 36px rgba(0,0,0,0.27)
      //border-radius: $borderRadius
      +adaptiv-value('border-radius', 15, 12)
      background-color: var(--menubg)
      transform: translateY(120%)
    &__item.active
      font-weight: bold
    &__link
      color: var(--menucolor)
      &:hover
        color: var(--menucolor)
        text-decoration: none
        font-weight: bold

.main-submenu
  //min-height: 73px
  position: relative
  overflow: hidden
  margin-bottom: 18px
  .submenu
    position: absolute
    display: flex
    justify-content: space-between
    align-items: center
    color: var(--submenu-color)
    +adaptiv-value('font-size', 37, 41)
    position: relative
    +tablet
      position: static
    &-list
      display: flex
      justify-content: space-between
      align-items: center
      min-width: 460px
    &__item
      +adaptiv-value('border-radius', 15, 12)
      +adaptiv-value('padding-top', 30, 20)
      +adaptiv-value('padding-right', 46, 35)
      +adaptiv-value('padding-bottom', 30, 20)
      +adaptiv-value('padding-left', 46, 35)
      &.active
        background-color: var(--submenu-active-bg)
        color: var(--submenu-active-color)
    &__btn
      display: none
      +tablet
        display: block

.block-menu
  +tablet
    margin-bottom: 60px
  &__list
    display: none
    +tablet
      background-color: var(--block-menu-bg)
      color: var(--block-menu-color)
      font-family: $InterMedium
      display: flex
      justify-content: space-between
      align-items: center
      +adaptiv-value('font-size', 30, 30)
      +adaptiv-value('padding-right', 70, 30)
      +adaptiv-value('padding-top', 25, 25)
      +adaptiv-value('padding-left', 70, 30)
      +adaptiv-value('padding-bottom', 25, 25)
      +adaptiv-value('border-radius', 15, 12)
  &__item.active
        font-family: $InterBold

.news
  &__right
    width: 100vw
    display: flex
    justify-content: space-between
    align-items: center
    +tablet
      width: 50vw
  .news-in
    display: flex
    justify-content: space-between
    align-items: center

  .post-news
    max-width: 36vw
    +adaptiv-value('margin-bottom', 100, 100)
    +tablet
      max-width: 20vw
    &.mb-0
      margin-bottom: 0
    &__img
      +adaptiv-value('border-radius', 15, 12)
      overflow: hidden
      margin-bottom: 30px
      img
        width: 100%
        height: auto
        max-height: 259px

    &.img__post
      display: none
      +tablet
        max-width: 24vw
        margin-bottom: 70px
        display: block

  .post-news__title
    color: var(--post-title-color)
    +adaptiv-value('font-size', 32, 25)
    line-height: 1.9
    font-family: $InterBold
    +adaptiv-value('margin-bottom', 40, 25)

    &.dib
      margin-right: 5%

  .news__col_title
    display: none
    +tablet
      display: block
      +adaptiv-value('font-size', 46, 30)
      +adaptiv-value('margin-top', 70, 55)
      font-family: $InterSemiBold
      color: var(--post-col-title-color)

  button.btn.see-more
    display: none
    +adaptiv-value('font-size', 25, 20)
    +adaptiv-value('margin-top', 65, 55)
    font-family: $InterRegular
    color: var(--seemore-btn-color)
    background-color: var(--seemore-btn-bg)
    +adaptiv-value('padding-right', 54, 30)
    +adaptiv-value('padding-top', 22, 18)
    +adaptiv-value('padding-left', 54, 30)
    +adaptiv-value('padding-bottom', 22, 18)
    margin-left: 50%
    +tablet
      display: block


  &__title
    display: flex
    justify-content: space-between
    align-items: center
    +tablet
      display: none
    .title
      color: var(--submenu-title-color)
      +adaptiv-value('font-size',49, 49)
      line-height: 5.14
      font-family: $InterBold
    button.btn.see-more
      display: block
      margin: 0