
.news
  .section-in
    +tablet
      +adaptiv-value-tabl('padding-left', 0)
      +adaptiv-value-tabl('padding-right', 0)    
    +laptop
      +adaptiv-value-desc('padding-left', 0)
      +adaptiv-value-desc('padding-right', 0)

  &__left
    +tablet
      flex: 1
    +laptop
      flex: unset

  &__right
    width: 100%
    justify-content: space-between
    +tablet
      flex: 1
      //+adaptiv-value-tabl('width', 985)
      +adaptiv-value-tabl('column-gap', 0)
      +adaptiv-value-tabl('margin-left', 16)
      +adaptiv-value-tabl('margin-bottom', 0)
    +laptop
      flex: unset
      +adaptiv-value-desc('width', 985)
      +adaptiv-value-desc('column-gap', 50)
      +adaptiv-value-desc('margin-left', 40)
      +adaptiv-value-desc('margin-bottom', 10)
    
    &-col
      display: grid
      grid-template-columns: 1fr 1fr
      +adaptiv-value-mob('grid-row-gap', 0)
      +adaptiv-value-desc('grid-column-gap', 25)
      
      +tablet
        grid-template-columns: 1fr
        +adaptiv-value-tabl('padding-top', 3)
        +adaptiv-value-tabl('grid-row-gap', 25)
        +adaptiv-value-tabl('grid-column-gap', 50)      

      +laptop
        grid-template-columns: 1fr 1fr
        +adaptiv-value-desc('padding-top', 3)
        +adaptiv-value-desc('grid-row-gap', 55)
        +adaptiv-value-desc('grid-column-gap', 50)


      .post-news
        .img-wrapper
          display: none
          +tablet
            display: none


  .news-in
    display: flex
    justify-content: space-between
    //align-items: center
    flex-direction: column
    +adaptiv-value-mob('margin-bottom', 42)
    +tablet
      flex-direction: row
      +adaptiv-value-tabl('margin-bottom', 50)
    +laptop
      flex-direction: row
      +adaptiv-value-desc('margin-bottom', 0)


  &-add
    display: none
    +laptop
      display: block
      +adaptiv-value-desc('margin-top', 30)
      +adaptiv-value-desc('margin-bottom', 30)
    .news-in
      justify-content: flex-start
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      column-gap: 50px
  
    .post-news__title
      +laptop
        +adaptiv-value-desc('padding-top', 5)
        
  .post-news
    +adaptiv-value-mob('margin-bottom', 25)
    display: grid
    grid-template-columns: 0.22fr 1fr
    +adaptiv-value-mob('column-gap', 10)

    +tablet
      column-gap: unset
      display: flex
      flex-direction: column
      //max-width: 20.5vw
      +adaptiv-value-tabl('margin-bottom', 54)
    +laptop
      +adaptiv-value-desc('margin-bottom', 54)
      
    &.mb-0
      margin-bottom: 0
    &__img
      +adaptiv-value-mob('border-radius', 10)
      +adaptiv-value-mob('min-width', 64)
      +adaptiv-value-mob('width', 64)
      +adaptiv-value-mob('min-height', 64)
      +adaptiv-value-mob('height', 64)
      overflow: hidden
      grid-row: span 2
      +tablet
        min-height: unset
        width: auto
        +adaptiv-value-tabl('border-radius', 15)
        +adaptiv-value-tabl('margin-bottom', 10)
        height: unset
      +laptop
        +adaptiv-value-desc('border-radius', 15)
        +adaptiv-value-desc('margin-bottom', 10)

      img
        width: 100%
        height: 100%
        +adaptiv-value-mob('max-height', 64)
        object-fit: cover
        +tablet
          +adaptiv-value-tabl('max-height', 200)
        +laptop
          +adaptiv-value-desc('max-height', 200)

    &.img__post
      +tablet
        +adaptiv-value-tabl('margin-bottom', 20)
        display: block
      +laptop
        max-width: 24vw
        +adaptiv-value-desc('margin-bottom', 15)
      &:last-child
        +tablet
          margin-bottom: 0



  .post-news__title
    //display: none
    color: var(--post-title-color)
    +adaptiv-value-mob('font-size', 16)
    +adaptiv-value-mob('margin-bottom', 5)
    font-family: $InterBold
    line-height: 1.35


    +tablet
      display: block
      +adaptiv-value-tabl('font-size', 18)
      +adaptiv-value-tabl('margin-bottom', 4)
      
    +laptop
      +adaptiv-value-desc('font-size', 18)
      +adaptiv-value-desc('margin-bottom', 4)
      
    &.dib
      //margin-right: 5%
      //+adaptiv-value-mob('margin-bottom', 25)
      +tablet
        +adaptiv-value-tabl('margin-bottom', 8)
      +laptop
        +adaptiv-value-desc('margin-bottom', 8)

  .post-news__text
    line-height: 1.2
    +adaptiv-value-mob('font-size', 14)
    +adaptiv-value-mob('margin-bottom', 14)

    display: none
    +tablet
      +adaptiv-value-tabl('margin-bottom', 8)
      +adaptiv-value-tabl('font-size', 14)
      display: block    
    +laptop
      +adaptiv-value-desc('margin-bottom', 8)
      +adaptiv-value-desc('font-size', 14)
      display: block
    &--sm
      +adaptiv-value-mob('font-size', 21.48)
      +tablet
        +adaptiv-value-tabl('font-size', 14.43)      
      +laptop
        +adaptiv-value-desc('font-size', 14.43)
        
  .post-news__details
    //display: none
    grid-column: 2
    justify-content: flex-start

    +tablet
      display: flex
      justify-content: space-between
    .details__btn
      display: none
      +tablet
        display: block
        margin-left: auto
        
  .news_foot
    grid-column: span 2
    +adaptiv-value-mob('margin-top', 5)
    
    +tablet
      +adaptiv-value-tabl('margin-top', 25)
      +adaptiv-value-tabl('min-height', 81.5)
      display: flex
      justify-content: flex-start
      align-items: center    
    +laptop
      +adaptiv-value-desc('margin-top', 33)
      +adaptiv-value-desc('min-height', 81.5)
      
    &.btn-wrapper
      +tablet
        justify-content: space-between
        align-items: flex-end
      +laptop
        justify-content: flex-end
        
  .news__col_title
    display: none
    
    +tablet
      display: block
      +adaptiv-value-tabl('font-size', 46)
      font-family: $InterSemiBold
      color: var(--post-col-title-color)    
      
    +laptop
      +adaptiv-value-desc('font-size', 46)

  button.btn.see-more
    display: none
    +adaptiv-value-mob('font-size', 14)
    +adaptiv-value-mob('margin-left', 0)
    +adaptiv-value-mob('padding-right', 51)
    +adaptiv-value-mob('padding-top', 9)
    +adaptiv-value-mob('padding-left', 51)
    +adaptiv-value-mob('padding-bottom', 9)
    width: 100%
    font-family: $InterRegular
    color: var(--seemore-btn-color)
    background-color: var(--seemore-btn-bg)
    line-height: 1.2
    &:first-child
      +tablet
        margin-left: 0
    +tablet
      display: block
      +adaptiv-value-tabl('font-size', 12)
      +adaptiv-value-tabl('padding-right', 12)
      +adaptiv-value-tabl('padding-top', 13)
      +adaptiv-value-tabl('padding-left', 14)
      +adaptiv-value-tabl('padding-bottom', 14)
      +adaptiv-value-mob('margin-left', 10)
      width: 100%
    +laptop
      display: block
      +adaptiv-value-desc('font-size', 14)
      //+adaptiv-value-desc('margin-top', 65)
      +adaptiv-value-desc('padding-right', 12)
      +adaptiv-value-desc('padding-top', 13)
      +adaptiv-value-desc('padding-left', 12)
      +adaptiv-value-desc('padding-bottom', 12)
      +adaptiv-value-desc('width', 200)
      +adaptiv-value-mob('margin-left', 10)


  &__title
    display: flex
    justify-content: space-between
    align-items: center
    +adaptiv-value-mob('margin-bottom',15)
    display: none
    +tablet
      display: none
    .title
      color: var(--submenu-title-color)
      //+adaptiv-value('font-size',49, 49)
      +adaptiv-value-mob('font-size',49)
      +adaptiv-value-mob('padding-left',10)
      line-height: 3
    button.btn.see-more
      display: block
      margin: 0
      +adaptiv-value-mob('margin-right',20)


.news__right-col
  .post-news
    grid-column: span 2
    +tablet
      grid-column: unset
      display: none
      margin-bottom: 0!important
    &:not(:nth-child(-n+5))
      display: none!important
      +laptop
        display: flex!important
    &:nth-child(-n+5)
      +tablet
        display: block
    &:nth-child(-n+3)
      //grid-column: span 2
      +tablet
        grid-column: unset
      .img-wrapper
        display: block
        +tablet
          display: none
    &:not(:nth-child(-n+3))
      display: flex
      flex-direction: column
      +tablet
        display: flex

