=clearfix
	&::after
		clear: both
		content: ""
		display: table


=placeholder
	&::-webkit-input-placeholder
		@content
	&::-moz-placeholder
		@content
	&:-moz-placeholder
		@content
	&:-ms-input-placeholder
		@content

=font-face($family, $path, $weight: normal, $style: normal)
	@font-face
		font-family: $family
		src: url('#{$path}.woff2') format('woff2'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('ttf'), url('#{$path}.eot') format('eot')
		font-weight: $weight
		font-style: $style


$laptop-width1: 1366px
$laptop-width: 1024px
$tablet-width: 768px
=laptop
	@media screen and (min-width: $laptop-width1)
		@content
=laptop
	@media screen and (min-width: $laptop-width)
		@content
=tablet
	@media screen and (min-width: $tablet-width)
		@content


=scrolled($height)
	max-height: $height
	height: $height
	overflow-y: scroll

=retina
	@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5), only screen and (-o-min-device-pixel-ratio : 1.5)
		@content


$maxWidth: 2880
=adaptiv-value($property, $startSize, $minSize)
	$addSize: $startSize - $minSize
	$addMobSize: $addSize + $addSize * 0.7

	#{$property}: $startSize + px
	#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 1080px) / #{$maxWidth - 1080}))


