*
	&:focus, &:active
		outline: none !important

html
	//overflow: hidden
	font-size: $fontSize_body

body
	font:
		family: $InterRegular
		size: 1rem
		weight: 400
	color: $fontColorMain
	line-height: 1
	min-width: $phone-width-min
	margin: 0
	padding: 0
	height: 100vh
	background-color: var(--bgcolor)

h1, h2, h3, h4, p, ul
	margin: 0px
	padding: 0px

ul
	list-style: none

h1
	font-size: $fontSize_h1
	line-height: $lineHeight_h1
	font-weight: normal

h2
	line-height: $lineHeight_h2
	+adaptiv-value('font-size', 100, 67)

h3
	font-size: $fontSize_h3
	line-height: $lineHeight_h3

h4
	font-size: $fontSize_h4
	line-height: $lineHeight_h4

a
	color: inherit

.container
	max-width: 84.8vw
	width: 100%
	margin: 0 auto
	//background-color: #5a6268

.title
	color: $fontColorMain
	//font-family: $font-Gilroy-ExtraBold

.green
	color: $green

.bg--grey
	background-color: $grey

.blue-text
	color: $blue-text

.red-text
	color: $red-text

.bold-text
	//font-family: $font-Gilroy-ExtraBold
	font-weight: bold

.red-text
	color: $red-text


.text-upper
	text-transform: uppercase

.btn
	position: relative
	&:hover
		color: inherit

.dib
	display: inline

.mb-0
	margin-bottom: 0

.triangle-border
	display: none
	+tablet
		display: block
		//+adaptiv-value('height', 10, 10)
		//background-color: grey
		width: 0
		height: 0
		border-top: 5px solid transparent
		border-right: 84.8vw solid var(--border-color)
		border-bottom: 5px solid transparent

.details
	color: #747474
	+adaptiv-value('font-size', 19, 15)
	width: 90%
	display: flex
	justify-content: space-between
	align-items: center
	&.dib
		display: inline
		span
			margin-right: 3%
			line-height: 4.83
			+tablet
				line-height: 3.13

	&-text
		display: inline-block
		width: 100%
	&__source
		margin-right: 6%

	&__btn
		display: inline-block
		+adaptiv-value('width', 35, 24)
		+adaptiv-value('height', 25, 20)
		background:
			image: url("../images/icons/open-arrow.png")
			size: contain
			repeat: no-repeat















